.App {
  /* height: 1390px; */
  width: 1439px;
  border: lightgrey 1px solid;
}

.Header {
  height: 100px;
  width: 1440px;
  background-color: black;
}

.Title {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 30px 0;
}

.Jobs {
  font-weight: bold;
  display: flex;
}

.Container {
  width: 1043px;
  height: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 196px;

  justify-content: space-around;
}

.red-border {
  width: 319px;
  height: 319px;
  border: red solid 10px;
}

.green-border {
  width: 319px;
  height: 319px;
  border: green solid 10px;
}

.yellow-border {
  width: 319px;
  height: 319px;
  border: yellow solid 10px;
}

.lightblue-border {
  width: 319px;
  height: 319px;
  border: #039fe3 solid 10px;
}

.lightpink-border {
  width: 319px;
  height: 319px;
  border: #f8c5af solid 10px;
}

footer {
  width: 1439px;
  height: 65px;
  border: black solid 1px;
  background-color: lightgrey;
}

footer p {
  text-align: center;
  margin-top: 22px;
  font-size: 20px;
}

footer span {
  font-weight: bold;
}
